* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(237, 224, 110);
}

/* Grid Layout */

.contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "nav nav"
    "main main"
    "footer footer";
  justify-content: center;
}

header {
  grid-area: header;
  justify-self: center;
  margin-bottom: 10px;
  text-align: center;
}

.title {
  font-size: 40px;
  font-family: Roboto Mono;
  text-align: center;
}

nav {
  grid-area: nav;
  justify-self: center;
  margin: 10px;
}

/* Estilos de Menu */
nav ul {
  display: inline-flex;
  font-size: 20px;
  margin: 10px;
  list-style: none;
}

nav ul li a {
  color: rgb(2, 132, 245);
  margin: 10px;
  border-radius: 50px;
  padding: 10px;
  background-color: rgb(240, 233, 162);
}

a {
  text-decoration: none;
}

main {
  grid-area: main;
  padding: 2px 20px;
}

.divMain {
  align-items: center;
}

h1 {
  margin: 10px;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  text-decoration: underline;
}

h2 {
  margin: 10px;
  font-size: 25px;
  padding: 10px;
  text-align: center;
}

.sectionMain {
  display: flex;
  margin-bottom: 30px;
}

.sectionMain img {
  width: 70%;
  padding: 5px;
}

.parrafo {
  font-size: 20px;
  text-align: center;
}

.video {
  display: flex;
  justify-content: center;
}

.muebles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.productos {
  width: 24%;
  padding: 5px;
  background-color: rgb(133, 127, 77);
  transition-duration: 0.3s;
}

.productos:hover {
  transform: scale(1.05);
}

.banner {
  display: block;
  justify-content: center;
}

.imgBanner {
  height: 90%;
  width: 100%;
}

.medios {
  padding: 20px;
}

.medios li {
  font-size: 18px;
  margin-left: 20px;
}

.metodo {
  display: inline-block;
  text-align: left;
}

form {
  text-align: center;
  padding: 5px;
  background-color: rgb(247, 240, 184);
}

label {
  font-size: 20px;
}

fieldset {
  padding: 30px;
}

.campos {
  padding: 10px;
}

.button {
  margin: 10px;
}

footer {
  grid-area: footer;
  text-align: right;
  padding: 10px;
}

.redes {
  font-size: 25px;
  color: blueviolet;
  padding: 10px;
}

footer ul li {
  display: block;
  text-align: right;
}

i {
  font-size: 40px;
  margin-right: 50px;
  text-align: center;
}
.pie {
  text-align: center;
  font-weight: bold;
}

/* Media Queries */
@media screen and (max-width: 1440px) and (min-width: 768px) {
  .imgNone {
    display: none;
  }

  .sectionMain img {
    width: 50%;
  }

  .productos {
    width: 40%;
    display: grid;
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  header {
    margin-bottom: 5px;
  }

  .title {
    font-size: 28px;
  }

  nav {
    margin: 2px;
  }

  nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  nav ul li {
    padding: 2px;
  }

  nav ul li a {
    margin: 2px;
    padding: 2px;
    font-size: 16px;
    border-radius: 40px;
  }

  h1 {
    font-size: 23px;
  }

  h2 {
    font-size: 20px;
  }
  .sectionMain {
    justify-content: center;
  }

  .sectionMain img {
    width: 80%;
  }

  .imgNone {
    display: none;
  }

  .imgNone2 {
    display: none;
  }

  .parrafo {
    align-items: center;
    font-size: 16px;
  }

  iframe {
    max-width: 560px;
    width: 100%;
  }

  .redes {
    font-size: 18px;
    padding: 5px;
  }

  i {
    font-size: 30px;
  }

  .productos {
    width: 45%;
    display: grid;
    grid-template-columns: auto auto;
  }
}
